@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

nav {
  top: 20px;
  transition: 0.5s ease;
  /* list-style: none; */
}

body {
  font-family: "DM Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  overflow: scroll;
  position: relative;
}

.hamburger {
  transition: 0.4s ease-in-out;
  /* background: #7b0041; */
}

.cta-section:nth-child(2) {
  @media (min-width: 1024px) {
    flex-direction: row-reverse;
  }
}

.link-item {
  cursor: pointer;
  @media (min-width: 1024px) {
    font-size: 12px;
  }
}

button {
  cursor: pointer;
}

.manage {
  &:hover {
    .link-tray {
      display: flex;
    }
  }
}

.shadow {
  box-shadow: 16px 2px 50px rgba(219, 39, 119, 0.3);
}

.box-small {
  box-shadow: 20px 2px 50px rgba(184, 45, 98, 0.211);
}

.summary {
  width: 100%;
  background-color: #bdbdbdbd;
}
